
apiviewer/foxuser.dbf
apiviewer/foxuser.FPT
*.FXP
apiviewer/_command.prg
apiviewer/_vfp9.lnk
apiviewer/apiviewer.app
apiviewer/apiviewer_ref.CDX
apiviewer/apiviewer_ref.DBF
apiviewer/apiviewer_ref.FPT

## Ignore selected files in a Visual FoxPro project.

# use glob syntax.
syntax: glob

#---------------------------------------------------------
# VFP Project Files
#---------------------------------------------------------
#
# Comment out or remove this section if you want these
# binary files to be included in the repository.
#
#*.pjt
#*.PJT
#*.pjx
#*.PJX

#---------------------------------------------------------
# VFP labels, menus, reports, screens, and class libraries
#---------------------------------------------------------
#
# Comment out or remove this section if you want these
# binary files to be included in the repository.
#
#*.lbt
#*.LBT
#*.lbx
#*.LBX
#*.frt
#*.FRT
#*.frx
#*.FRX
#*.mnt
#*.MNT
#*.mnx
#*.MNX
#*.mpr
#*.MPR
#*.sct
#*.SCT
#*.scx
#*.SCX
#*.spr
#*.SPR
#*.vct
#*.VCT
#*.vcx
#*.VCX

#---------------------------------------------------------
# Common VFP project subfolders
#---------------------------------------------------------
[Bb]mps/
[Dd]ata/
[Ii]cons/
[Ii]mages/
[Tt]emp/
[Tt]est/
[Ww]izards/
.vs/

#---------------------------------------------------------
# VFP database files
#---------------------------------------------------------
*.dbc
*.DBC
*.dct
*.DCT
*.dcx
*.DCX
*.dbf
*.DBF
*.cdx
*.CDX
*.fpt
*.FPT
*.idx
*.IDX

#---------------------------------------------------------
# VFP compiled files and other binary code files
#---------------------------------------------------------
*.app
*.APP
*.dll
*.DLL
*.exe
*.EXE
*.fll
*.FLL
*.fxp
*.FXP
*.mpx
*.MPX
*.ocx
*.OCX

#---------------------------------------------------------
# VFP backup and other misc files
#---------------------------------------------------------
*.err
*.ERR
*.log
*.LOG
*.mem
*.MEM
*.tbk
*.TBK
*.vue
*.VUE

#---------------------------------------------------------
# WLC Project Builder backup files
#---------------------------------------------------------
*.ftk
*.FTK
*.fxk
*.FXK
*.ltk
*.LTK
*.lxk
*.LXK
*.mtk
*.MTK
*.mxk
*.MXK
*.stk
*.STK
*.sxk
*.SXK
*.vtk
*.VTK
*.vxk
*.VXK

#---------------------------------------------------------
# Common graphics files
#---------------------------------------------------------
*.bmp
*.BMP
*.cur
*.CUR
*.gif
*.GIF
*.ico
*.ICO
*.msk
*.MSK
*.png
*.PNG
*.jpg
*.JPG
*.tif
*.TIF

#---------------------------------------------------------
# Common documentation and Microsoft Office files
#---------------------------------------------------------
*.chm
*.CHM
*.doc
*.DOC
*.dot
*.DOT
*.hlp
*.HLP
*.rtf
*.RTF
*.pdf
*.PDF
*.xls
*.XLS
*.xlt
*.XLT

#---------------------------------------------------------
# Other misc files
#---------------------------------------------------------
*.bak
*.BAK
*.bat
*.BAT
*.dat
*.DAT
*.old
*.OLD
*.orig
*.ORIG
*.sav*
*.SAV*
*.tmp
*.TMP
*.wav
*.WAV
*.zip
*.ZIP
